body {
  background: #f1f3f4;
	/* background: linear-gradient(to top, #141e30, #243b55) no-repeat fixed center; */
	height: 100vh;
  color: #0a0a2c;
  font-family: "Nanum Gothic", sans-serif;
}

.jumbotron {
  background: none;
  margin: 0;
}

h1 {
 margin: 0;
 letter-spacing: 6px;
 text-transform: uppercase;
}

h2 {
  text-transform: lowercase;
}

.fa-film {
  float: left;

}


iframe {
  width: 300px;
}

h4 {
  margin: 0;
}

a {
  color: #b20000;
}

a:hover {
  text-decoration: none;
}


.call {
  float: right;
  padding-right: 40%;
}

.contact {
  font-size: 20px;
  letter-spacing: 1px;
}
